<div class="container mt-3">   

    <%- include('./ordenarProductos.ejs') %> 

    <div class=" d-flex mt-3">

        <%- include('./filter.ejs') %> 

        <div class="row col-9 m-0 row-cols-3">

            <% data.forEach(e=>{ %> 
                <div class="border border-info">
                    <div class="card-body p-3">
                        <img class="w-100 mb-4" src="<%=e.image %>" alt="Producto"></img>
                        <h6 class="card-title"><%=e.title %></h6>
                        <h5 class="card-text">$ <%=e.price %></h5>
                        <small>Stock: <%=e.stock %></small>
                            <div class="border rounded d-flex col-5 justify-content-between my-2 p-0">
                                <button class="btn btn-primary botonStock p-0 m-0 rounded text-secondary">-</button>
                            <div>
                                <small>1</small>
                        </div>
                            <button class="btn btn-primary botonStock p-0 rounded text-secondary">+</button>
                        </div>
                        <a href="./carrito/<%=e.id %>" class="btn btn-primary">Añadir al carrito</a>
                        <a href="./<%=e.id %>" class="btn btn-primary">Ver solo</a>
                    </div>
                </div> 
            <% }); %>

        </div>

    </div>
    </div>  
</div>